body {
    width: 960px;
    background-image: url("images/dust.png");
    margin: 0 auto;
}

.name {
    background-color: #4aaaa5;
    width: 20%;
    font-size: 30px;
    padding: 20px;
    z-index: 3;
    position: relative;
    color: white;
    top: 0;
}

.nav {
    background-color: #ffffff;
    font-size: 18px;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: right;
    z-index: 1;
    position: relative;
    top: -96px;
    width: 960px;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
}

.aboutme {
    width: 650px;
    background-color: white;
    float: left;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}

.connect {
    width: 270px;
    background-color: white;
    float: right;
    height: 200px;
    text-align: center;
    color: #4aaaa5;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.aboutmename {
    color: #4aaaa5;
}

.footer {
    text-align: center;
    background-color: #666666;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 960px;
    position: fixed;
    bottom: 0px;
}

.aboutparagraph {
    float: right;
}

.aboutpic {
    float: left;
    padding: 10px;
}


.message {
    height: 200px;
    width: 500px;
}

.input {
    width: 500px;
}

.submit {
    color: white;
    width: 100px;
    height: 33px;
    background-color: #4aaaa5;
}